/* ┌─────────────────────────────────────────┐
   │ aaa                        │
   └─────────────────────────────────────────┘ */

.container {
  width: auto;
  height: auto;
  border: 1px solid black;
}

.exam {
}

/* 
#box {
  width: 20rem;
  height: 20rem;
  background-color: lightblue;
  margin-bottom: 5rem;
}

.box_msg {
  width: 20rem;
  height: 2rem;
}

#sumBtn {
  display: block;
} */
