/* ┌─────────────────────────────────────────┐
   │ aaa                        │
   └─────────────────────────────────────────┘ */

.container {
  width: auto;
  height: auto;
  border: 1px solid black;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.exam {
}

.boxTemp {
  width: 100%;
  height: 30rem;
  background-color: lightgray;
  border: black 1px solid;
}

/* 背景として全画面に表示するための設定 */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #232741; /* 背景色 */
  z-index: -1;
}

.space_interval {
  height: 50rem;
  background-color: lightgray;
}
/* 
#box {
  width: 20rem;
  height: 20rem;
  background-color: lightblue;
  margin-bottom: 5rem;
}

.box_msg {
  width: 20rem;
  height: 2rem;
}

#sumBtn {
  display: block;
} */
