/* ┌─────────────────────────────────────────┐
   │ aaa                        │
   └─────────────────────────────────────────┘ */

.container {
  width: auto;
  height: auto;
  border: 1px solid black;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.exam {
}

.boxTemp {
  width: 100%;
  height: 30rem;
  background-color: lightgray;
  border: black 1px solid;
  border: 0.5rem solid red;
}

.space_interval {
  height: 50rem;
  background-color: lightgray;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

#btnPress {
  border: 0.5rem solid red;
}

#particles-js {
  background-color: black;
}

.swiper {
  width: 600px;
  height: 300px;
  /* background-color: orange;
  background-image: url("../img/image1.png"); */
}

.swiper-slide {
  background-color: yellow;
  background-image: url("../img/image1.png");
}
.swiper-slide:nth-child(2) {
  background-color: yellow;
  background-image: url("../img/image2.png");
}

.swiper-slide:nth-child(2) {
  background-color: yellow;
  background-image: url("../img/image3.png");
}

/* 
#box {
  width: 20rem;
  height: 20rem;
  background-color: lightblue;
  margin-bottom: 5rem;
}

.box_msg {
  width: 20rem;
  height: 2rem;
}

#sumBtn {
  display: block;
} */
