/* ┌─────────────────────────────────────────┐
   │ セクション名                        │
   └─────────────────────────────────────────┘ */

/* トップに大きな画像、下に小さな画像を5つ横に配置する。 */
.thumbnail_area {
  width: 100%;
  height: calc(56.4rem + 2rem+10rem +8.2rem);
  box-sizing: border-box;
  padding: 3rem 23rem 8rem;
}

.thumbnail_main-image {
}

.MainImg {
  width: 100%;
  height: 100%;
}

/* 下の小さな画像をクリックすると、上の大きな画像が切り替わるようにする。 */
.thumbnail-images {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.img {
  display: block;
  width: calc((100% - 4 * 2rem) / 5);
  height: 10.3rem;
  cursor: pointer;
  min-width: 0;
}

.thumbnail {
}
